<div class="container mt-5">
  <div class="card w-100">
    <div class="card-header">
      <h3 class="text-center m-0 list-items-title">Unpaid Items</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="row">
          <div class="col-6 col-sm-2 d-flex">
            <h5 class="m-0 my-auto mx-auto list-item-text text-center">Burger</h5>
          </div>
          <div class="col-6 col-sm-2 d-flex">
            <h5 class="m-0 my-auto mx-auto list-item-text text-center">$15.80</h5>
          </div>
          <div class="col-12 col-sm-5 mt-4 mt-sm-0 d-flex">
            <h5 class="m-0 my-auto mx-auto list-item-text"><a href="#">Joe's Crab Shack - 11/02/2018</a></h5>
          </div>
          <div class="col-12 col-sm-3 mt-4 mt-sm-0 d-flex">
            <button type="button" class="btn btn-secondary btn-block"><i class="fas fa-money-bill-wave-alt mr-2"></i>Pay</button>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-6 col-sm-2 d-flex">
            <h5 class="m-0 my-auto mx-auto list-item-text text-center">Burger</h5>
          </div>
          <div class="col-6 col-sm-2 d-flex">
            <h5 class="m-0 my-auto mx-auto list-item-text text-center">$15.80</h5>
          </div>
          <div class="col-12 col-sm-5 mt-4 mt-sm-0 d-flex">
            <h5 class="m-0 my-auto mx-auto list-item-text"><a href="#">Joe's Crab Shack - 11/02/2018</a></h5>
          </div>
          <div class="col-12 col-sm-3 mt-4 mt-sm-0 d-flex">
            <button type="button" class="btn btn-secondary btn-block"><i class="fas fa-money-bill-wave-alt mr-2"></i>Pay</button>
          </div>
        </div>
      </li>

      <li class="list-group-item">
        <div class="row">
          <div class="col-6 col-sm-2 d-flex">
            <h5 class="m-0 my-auto mx-auto list-item-text text-center">Burger</h5>
          </div>
          <div class="col-6 col-sm-2 d-flex">
            <h5 class="m-0 my-auto mx-auto list-item-text text-center">$15.80</h5>
          </div>
          <div class="col-12 col-sm-5 mt-4 mt-sm-0 d-flex">
            <h5 class="m-0 my-auto mx-auto list-item-text"><a href="#">Joe's Crab Shack - 11/02/2018</a></h5>
          </div>
          <div class="col-12 col-sm-3 mt-4 mt-sm-0 d-flex">
            <button type="button" class="btn btn-secondary btn-block"><i class="fas fa-money-bill-wave-alt mr-2"></i>Pay</button>
          </div>
        </div>
      </li>
    </ul>
  </div>

  <div class="card w-100 mt-5">
    <div class="card-header">
      <h3 class="text-center m-0">Paid Items</h3>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h5 class="m-0 my-auto">Burger</h5>
          <h5 class="m-0 my-auto">$15.80</h5>
          <h5 class="m-0 my-auto">
            <a href="#">Joe's Crab Shack - 11/02/2018</a>
          </h5>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h5 class="m-0 my-auto">Burger</h5>
          <h5 class="m-0 my-auto">$15.80</h5>
          <h5 class="m-0 my-auto">
            <a href="#">Joe's Crab Shack - 11/02/2018</a>
          </h5>
        </div>
      </li>
      <li class="list-group-item">
        <div class="d-flex justify-content-between">
          <h5 class="m-0 my-auto">Burger</h5>
          <h5 class="m-0 my-auto">$15.80</h5>
          <h5 class="m-0 my-auto">
            <a href="#">Joe's Crab Shack - 11/02/2018</a>
          </h5>
        </div>
      </li>
    </ul>
  </div>
</div>