<li class="list-group-item">
  <div class="row">
    <div class="col-6 col-sm-2 d-flex">
      <h5 class="m-0 my-auto mx-auto list-item-text text-center">{{name}}</h5>
    </div>
    <div class="col-6 col-sm-2 d-flex">
      <h5 class="m-0 my-auto mx-auto list-item-text text-center">${{price}}</h5>
    </div>
    <div class="col-12 col-sm-5 mt-4 mt-sm-0 d-flex">
      <h5 class="m-0 my-auto mx-auto list-item-text">
        <a href="#">{{receiptPlace}} - {{receiptDate}}</a>
      </h5>
    </div>
    <div class="col-12 col-sm-3 mt-4 mt-sm-0 d-flex">
      <button type="button" class="btn btn-secondary btn-block">
        <i class="fas fa-money-bill-wave-alt mr-2"></i>Pay</button>
    </div>
  </div>
</li>