<li class="list-group-item">
  <div class="row">
    <div class="col-6 col-sm-2 d-flex">
      <h5 class="m-0 my-auto mx-auto list-item-text text-center">{{receipt.place}}</h5>
    </div>
    <div class="col-6 col-sm-2 d-flex">
      <h5 class="m-0 my-auto mx-auto list-item-text text-center">${{receipt.receiptTotal}}</h5>
    </div>
    <div class="col-12 col-sm-4 mt-4 mt-sm-0 d-flex">
      <h5 class="m-0 my-auto mx-auto list-item-text">
        {{receipt.receiptDate}}
      </h5>
    </div>
    {{#if receipt.isReceiptPaid}}
      <div class="col-12 col-sm-4 mt-4 mt-sm-0 d-flex">
        <button type="button" class="btn btn-secondary btn-block"><i class="far fa-eye mr-2"></i>View</button>
      </div>
      {{else}}
        <div class="col-12 col-sm-2 mt-4 mt-sm-0 d-flex">
          <button type="button" class="btn btn-secondary btn-block"><i class="far fa-eye mr-2"></i>View</button>
        </div>
        <div class="col-12 col-sm-2 mt-4 mt-sm-0 d-flex">
          <button type="button" class="btn btn-secondary btn-block"><i class="fas fa-money-bill-wave-alt mr-2"></i>Pay</button>
        </div>
      {{/if}}
  </div>
</li>