<div class="container-fluid">
  <div class="d-flex flex-wrap justify-content-around mb-4">
    <div class="card feature-card">
      <div class="card-body bg-void">
        <h5 class="card-title text-fuschia f-card-title text-center">Receipt Upload</h5>
        <p class="card-text text-stark f-card-text">Take an image of a receipt and upload it. Receipt information is parsed into required data.</p>
      </div>
    </div>

    <div class="card feature-card">
      <div class="card-body bg-void">
        <h5 class="card-title text-fuschia f-card-title text-center">Custom Entry</h5>
        <p class="card-text text-stark f-card-text">Enter receipt data by hand if you do not have access to a camera. </p>
      </div>
    </div>

    <div class="card feature-card">
      <div class="card-body bg-void">
        <h5 class="card-title text-fuschia f-card-title text-center">Assign Items</h5>
        <p class="card-text text-stark f-card-text">Assign items from a receipt to other Dutch users. Receipts and items will appear on their dashboard.</p>
      </div>
    </div>

    <div class="card feature-card">
      <div class="card-body bg-void">
        <h5 class="card-title text-fuschia f-card-title text-center">Pay</h5>
        <p class="card-text text-stark f-card-text">Pay for items you are assigned from other users. Simple one-click pay with various providers.</p>
      </div>
    </div>
  </div>

  <div class="row bg-gray">
    <div class="col">
      <h1 class="text-center m-3"><i class="fas fa-comments mr-2"></i>What People Are Saying<i class="fas fa-comments ml-2"></i></h1>
      <hr class="hr-gray-2 mx-auto" style="max-width: 50%">
      <div class="d-flex justify-content-around">
        <figure class="snip1390">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample3.jpg" alt="profile-sample3" class="profile"
          />
          <figcaption>
            <h2>Eleanor Crisp</h2>
            <h4>UX Design</h4>
            <blockquote>Dad buried in landslide! Jubilant throngs fill streets! Stunned father inconsolable - demands recount!</blockquote>
          </figcaption>
        </figure>
        <figure class="snip1390 hover">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample5.jpg" alt="profile-sample5" class="profile"
          />
          <figcaption>
            <h2>Gordon Norman</h2>
            <h4>Accountant</h4>
            <blockquote>Wormwood : Calvin, how about you? Calvin : Hard to say ma'am. I think my cerebellum has just fused. </blockquote>
          </figcaption>
        </figure>
        <figure class="snip1390">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/profile-sample6.jpg" alt="profile-sample6" class="profile"
          />
          <figcaption>
            <h2>Sue Shei</h2>
            <h4>Public Relations</h4>
            <blockquote>The strength to change what I can, the inability to accept what I can't and the incapacity to tell the difference.</blockquote>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

</div>