<div class="container-fluid">
  <h1 class="display-4 font-italic text-center d-none d-sm-block mb-sm-5">"The next big thing in receipt management! ~Somebody"</h1>
  <div class="d-flex flex-wrap justify-content-around">
    <div class="card feature-card">
      <div class="card-body bg-void">
        <h5 class="card-title text-fuschia f-card-title text-center">Card title</h5>
        <p class="card-text text-stark f-card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card feature-card">
      <div class="card-body bg-void">
        <h5 class="card-title text-fuschia f-card-title text-center">Card title</h5>
        <p class="card-text text-stark f-card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card feature-card">
      <div class="card-body bg-void">
        <h5 class="card-title text-fuschia f-card-title text-center">Card title</h5>
        <p class="card-text text-stark f-card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <div class="card feature-card">
      <div class="card-body bg-void">
        <h5 class="card-title text-fuschia f-card-title text-center">Card title</h5>
        <p class="card-text text-stark f-card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>
  </div>
</div>