<div class="sticky-top">
  <nav class="navbar navbar-light">
    <a class="navbar-brand mr-auto" href="#">dutch</a>
    <form class="form-inline">
      <button type="button" class="btn btn-jewel rounded-0 mr-2">Login</button>
      <button type="button" class="btn btn-fuschia rounded-0">Sign Up</button>
    </form>
  </nav>
</div>