<div class="sticky-top">
  <nav class="navbar navbar-light">
    <a class="navbar-brand mr-auto" href="/">Dutch</a>
    <form class="form-inline">
      {{#if loggedIn}}
        <a href="/dashboard"><button type="button" class="btn btn-primary mr-2" id="btn-login"><span class="d-none d-sm-block"><i class="fas fa-chart-line mr-2 icon-white"></i>Dashboard</span><i class="fas fa-chart-line d-block d-sm-none  icon-white"></i></button></a>
        <a href="/receipts"><button type="button" class="btn btn-primary mr-2" id="btn-login"><span class="d-none d-sm-block"><i class="fas fa-receipt mr-2  icon-white"></i>Receipts</span><i class="fas fa-receipt d-block d-sm-none  icon-white"></i></button></a>
        <a href="/logout"><button type="button" class="btn btn-fuschia mr-2" id="btn-login"><span class="d-none d-sm-block"><i class="fas fa-sign-out-alt mr-2  icon-white"></i>Sign Out</span><i class="fas fa-sign-out-alt d-block d-sm-none  icon-white"></i></button></a>
      {{else}}
        <a href="/login"><button type="button" class="btn btn-jewel mr-2" id="btn-login">Sign In</button></a>
      {{/if}}
    </form>
  </nav>
</div>