<div class="container">
    hello
</div>


<div class="container">
  <h1>You have chosen the items to pay for</h1>

  <div><H2>Kirin</H2> <h2>7.00</h2>   <button type="button" class="btn btn-remove">Remove</button></div>
<br><br>

<div> <h2>Uni</h2>  <h2>7.00</h2> <button type="button" class="btn btn-remove">Remove</button> </div>

<div></div>


</div>