<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Divvy Up</title>

  <!-- Reset CSS -->
  <link rel="stylesheet" href=".assets/css/reset.css">
  <!-- Pure CSS -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  <!-- Local CSS -->
  <link rel="stylesheet" href=".assets/css/style.css">
</head>

<body>

  {{{body}}}

</body>

<!-- Axios JS -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Local JS -->
<script src="./assets/javascript/script.js"></script>

</html>