           <div class='navbar-default'>
            <div class="title col-8">Divvy Up</div>
        <div class='container nav-container'>
              <button type='button' class='navbar-toggle'
                                                       data-toggle='collapse' 
                                                       data-target='.navbar-collapse'>
                        <span class='sr-only'>Toggle Navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
              </button>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            
            </ul>
        </div>
    </div>
      
    

        

             

            

    <div class="navbar row">
       
       
        <ul class="navBtns nav nav-pills nav navbar-nav navbar-right collapse navbar-collapse">
            <li class="nav-item dropdown">
                <a class="splitBill nav-link dropdown-toggle" data-toggle="dropdown" href="newreceipt.html" role="button" aria-haspopup="true" aria-expanded="false">Split A Bill</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item breadcrumb-item" href="#">New Bill Upload</a>
                    <a class="dropdown-item breadcrumb-item" href="#">Confirm</a>
                    <a class="dropdown-item breadcrumb-item disabled" href="#">Share New Bill</a>
            </li>
            <li class="nav-item">
                    <a class="history nav-link" href="history.html">Your History</a>
                  </li>
                  <li class="nav-item">
                    <a class="homeBtn nav-link" href="dashboard.html">Home</a>
                  </li>
                  <li class="nav-item">
                        <a class="logout nav-link" href="login.html">Logout</a>
                      </li>
                    </div>
                    
                </ul>
        
            
     
        </div>
        </div>
    </div>
   

       

 
<p class="receiptHeaderText">Here is your itemized Reciept!</p>


<div class="receipt">



    <div data-id="placeName" class="placeName">Uchi</div>
    <div class="date">July 14, 2018</div>
    <div class="time">10:28pm</div>
    <div class="row">
    <div class="items col-md-6">Items Purchased</div>
    <div class="prices col-md-6">Prices</div>
    </div>
    <div class="total">Total: </div>
    
    </div>

       
        

<div class="emailAssignContainer">
<div class="recentFriends">
    <p>Who would you like to share this reciept with?</p>
<input class="recentFriendsInput" type="email" multiple>

</div>

<div class="gmailEmail">
    <p>Share using your friends Gmail email.</p>
    <input class="gmailEmailInput" type="email" multiple>
</div>

<div class="inviteFriends">
    <p>Friends don't have Gmail? Type their email address here to invite them to Divvy Up!</p>
    <input class="inviteFriendsInput" type="email" multiple>
</div>
<button type="submit" class="btn btn-light submitBtn">Submit</button>
</div>
</div>





