
<body>
       
    <div class='navbar-default'>
            <div class="title col-8">Divvy Up</div>
        <div class='container nav-container'>
              <button type='button' class='navbar-toggle'
                                                       data-toggle='collapse' 
                                                       data-target='.navbar-collapse'>
                        <span class='sr-only'>Toggle Navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
              </button>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            
            </ul>
        </div>
    </div>
      

    <div class="navbar row">
       
       
        <ul class="navBtns nav nav-pills nav navbar-nav navbar-right collapse navbar-collapse">
            
            <li class="nav-item">
                    <a class="homeBtn nav-link" href="newreceipt.html">Split A Bill</a>
                  </li>
            <li class="nav-item">
                    <a class="history nav-link" href="history.html">Your History</a>
                  </li>
                  <li class="nav-item">
                    <a class="homeBtn nav-link" href="dashboard.html">Home</a>
                  </li>
                  <li class="nav-item">
                        <a class="logout nav-link" href="login.html">Logout</a>
                      </li>
                    </div>
                    
                </ul>




    <a class="headerText" href="newreceipt.html">Split A New Bill</a>

<div class="billsContainer row">
    <div class="col-4 billsYouSharedContainer">
        <p>Bills You Have Shared</p>
    </div>

    <div class=" col-4 billSentToYouContainer">
        <p>Bills That Have Been Shared With You</p>
    </div>

    <div class="col-4 unopenedBills">
        <p>Unopened New Bills</p>
    </div>
</div>



    
</body>





