  <div class='navbar-default'>
            <div class="title col-8">Divvy Up</div>
        <div class='container nav-container'>
              <button type='button' class='navbar-toggle'
                                                       data-toggle='collapse' 
                                                       data-target='.navbar-collapse'>
                        <span class='sr-only'>Toggle Navigation</span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
                        <span class='icon-bar'></span>
              </button>
            <ul class="nav navbar-nav navbar-right collapse navbar-collapse">
            
            </ul>
        </div>
    </div>
      
    <div class="navbar row">
       
       
            <ul class="navBtns nav nav-pills nav navbar-nav navbar-right collapse navbar-collapse">
                
                <li class="nav-item">
                        <a class="homeBtn nav-link" href="newreceipt.html">Split A Bill</a>
                      </li>
                <li class="nav-item">
                        <a class="history nav-link" href"history.html"=>Your History</a>
                      </li>
                      <li class="nav-item">
                        <a class="homeBtn nav-link" href="dashboard.html">Home</a>
                      </li>
                      <li class="nav-item">
                            <a class="logout nav-link" href="login.html">Logout</a>
                          </li>
                        </div>
                        
                    </ul>
            
     
        </div>
        </div>
    </div>

    <div class="billsContainer">
    <div class="billsYouSharedContainer">
            <a href="youshared.html">Bills You Have Shared</a>
        </div>

    <div class="billSentToYouContainer">
            <a href="sharedwithyou.html">Bills That Have Been Shared With You</a>
    </div>
        
    <div class="unopenedBills">
            <a href="newbills.html">Unopened New Bills</a>
        </div>
    </div>