<<<<<<< HEAD
<div class="body-wrapper">
  {{> nav}}
  {{> index-carousel}}
  {{> index-info-cards}}
  {{> footer}}
</div>
=======
<h1>Landing page</h1>
{{>nav}}
{{>receipt}}
>>>>>>> 373b4bc9f5c4ab913d7d7dba5ca0775a921ffcc7
