<div class="body-wrapper">
    {{>nav }}
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
<<<<<<< HEAD
    
=======
>>>>>>> e4c9aa7979391d37e5fb985dce214cf0ecdd413e

</div>
<!-- /.body-wrapper -->