<div class="body-wrapper">
    {{>nav }}
<<<<<<< HEAD
    <h1>{{title}}</h1>
    <p>Welcome to {{title}}</p>
<<<<<<< HEAD
    
=======
>>>>>>> e4c9aa7979391d37e5fb985dce214cf0ecdd413e
=======
    {{>receipt }}
>>>>>>> 5b09325c650f5bca989c68e994a72b7e289d09ae

</div>
<!-- /.body-wrapper -->