
<h1>Divvy Up</h1>

<p class="welcomeText">Welcome to Divvy Up! The first app of it's kind to use OCR technology from Google to take 
    pictures of receipts and make it interactive and shareable with friends!</p> 


    <div class="imagesContainer row"> 
        
        <img class="receiptImage col-6" src="#">
        
        
        <img class="receiptTextImage col-6" src="#">
        
      </div>  

    <p class="clickHere">Click Here to sign up and try Divvy-Up!</p>
