$main-font: YesevaOne-Regular;
$title-font: Shrikhand;
 
$color-one: rgba(78,133,192,100);


.navbar{
    position:absolute;
    background-color: transparent;
    width:100%;
    height:115px;
    margin:none;
}

.title{
    position:absolute;
    font-family:$title-font;
    font-size:75px;
    color:$color-one;
    margin-top:10px;
    margin-left: 50px;
}

.navBtns{
    position: relative;
    margin-left:700px;
    margin-top:60px;
    color: $color-one;
    font-family: $main-font;
}


.splitBill, .history, .homeBtn, .logout{
    background-color: transparent;
    position: relative;
    font-family: $main-font;      
    font-size:  18px;
    margin-right:   20px;
    color: $color-one;
    border: none;
}


.addPhotoContainer{
    position: absolute;
    margin-top:300px;
    margin-left:400px;
    width:400px;
    height:200px;
    border-width:2px;
    border-style:solid;
    border-color:black;
}

.photoInput{
    text-align: center;
}
