html, body {
    min-height: 100vh;
}

body {
    background: #d1ccc0;
    color: #333;
}

.navbar {
    background: #33d9b2;
    color: #e7dfdd;
}

.btn-danger  {
    background: #ff5252;
    color: #fff;
}



.color-violet {
    background:#706fd3;
    color: #fff;
}



/* .btn-circle {
    width: 45px;
    height: 45px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.42;
    border-radius: 35px;
  } */

/* .zoom {
    position: relative;
    display: inline-block;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
}

.zoom:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    transition: opacity 0.3s ease-in-out;
}

.zoom:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    transform: scale(1.03, 1.03);
} */

.item-container {
    min-height: 100vh;
}

.file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.img-wrapper {
    text-align: center;
    width: 100%;
}

.img-preview {
    display: none;
}