/*GLOBALS*/

@import url('https://fonts.googleapis.com/css?family=Nunito:300,700|Yeseva+One');

:root {
    --void: #0e0b16;
    --fuschia: #a239ca;
    --jewel: #007bff;
    --stark: #e7dfdd;
    --black: #000000;
    --nobel: #B4AEAC;
    --white: #ffffff;
    --green: #33d9b2;
    --sand: #f7f1e3;
    --red: #ff5252;
}

/* BACKGROUND COLORS */

/* ======================== */

.bg-void {
    background-color: var(--void);
}

.bg-fuschia {
    background-color: var(--fuschia);
}

.bg-fuschia-btn {
    background-color: var(--fuschia);
    border: var(--fuschia);
}

.bg-fuschia-btn:hover {
    background: rgba(162,57,202, .7)
}

.bg-jewel {
    background-color: var(--jewel);
}

.bg-stark {
    background-color: var(--stark);
}

.bg-green-btn {
    background: var(--green);
    border: var(--green);
}

.bg-green-btn:hover {
    background: rgba(118,255,13, 0.7);
}

.bg-white {
    background: var(--white);
}

/* .analyze-btn,
.progress {
    display: none;
} */

.bg-black {
    background-color: var(--black);
}

.bg-nobel {
    background-color: var(--nobel);
}

/* FONT COLORS */

/* ========================= */

.text-void {
    color: var(--void);
}

.text-fuschia {
    color: var(--fuschia) !important;
}

.text-jewel {
    color: var(--jewel);
}

.text-stark {
    color: var(--stark);
}

.text-black {
    color: var(--black);
}

.text-nobel {
    color: var(--nobel);
}

.text-white {
color: var(--white);
}

.text-red {
    color: var(--red) !important;
}

/* ICON COLORS */
.icon-white {
  color: white !important;
}

/* COMMON */

/* ======================== */

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 120px;
    /* Margin bottom by footer height */
    background: var(--stark);
    color: #333;
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

.btn-outline-secondary {
    border: 1px solid #ced4da;
}

.btn-outline-secondary:hover {
    border: 1px solid #ced4da;
}

.form-control:focus {
    outline: none !important;
    border: 1px solid var(--fuschia);
    box-shadow: none !important;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid var(--fuschia);
    margin: 1em 0;
    padding: 0; 
}

.fas{
    color: var(--green);
}

.form-group {
    margin-bottom: 0;
}

.input-group-text,
.input-group-append {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    background: var(--white);
    color: var(--green);
}

.add-member-badge,
.assigned-member-badge,
.remove-member-badge {
    width: 60px;
    height: 60px;
    font-size: 60px;
}

.assigned-member-badge {
    border: 2px var(--nobel) solid;
}

.all-member-badge {
    border: none !important;
    width: 60px;
    height: 60px;
    font-size: 60px;
    display: inline-block;
}

.margin-top-center {
    margin-top: 1.15rem;
}

#accordion {
    line-height: 2;
}

.add-member-form {
    display: none;
}

.add-member-input {
    border: none;
    display: inline;
}

.total-block {
    width: 70px;
}

.validate-icon {
    display:none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    /* Set the fixed height of the footer here */
    line-height: 60px;
    /* Vertically center the text there */
    background-color: var(--nobel);
}

.navbar {
    background: var(--black);
    color: #e7dfdd;
}

a.navbar-brand:link,
a.navbar-brand:visited,
a.navbar-brand:hover,
a.navbar-brand:active,
a.navbar-brand:focus {
    color: var(--stark) !important;
}

.btn-danger {
    color: var(--fire);
    color: #fff;
}

.color-violet {
    background: #706fd3;
    color: #fff;
}

.item-container {
    min-height: 100vh;
}

.file-upload {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.img-wrapper {
    text-align: center;
    width: 100%;
}

.img-preview {
    display: none;
}

/* BUTTONS */

/* ======================== */

.btn-jewel {
    background-color: var(--jewel);
    color: var(--stark)
}

.btn-fuschia {
    background-color: var(--fuschia);
    color: var(--stark)
}

/* CAROUSEL */

/* ====================== */

.carousel {
    min-height: 35vh;
    max-width: 100%;
}

/* FEATURE CARDS */

.feature-card {
    max-width: 300px;
    margin: 10px;
}

.f-card-title {
    font-size: 1.3rem;
}

.f-card-text {
    font-size: 1rem;
}

/* DASHBOARD */
.list-items-title {
  font-size: 1.5rem;
}
.list-item-text {
  font-size: 1rem;
}

/* MEDIA QUERIES */

/*===========================*/

@media (min-width: 576px) {
    /* FEATURE CARDS */
    .f-card-title {
        font-size: 1.6rem;
    }
    .f-card-text {
        font-size: 1.3rem;
    }
    .list-items-title {
      font-size: 2.3rem;
    }
    .list-item-text {
      font-size: 1.1rem;
    }
}

@media (min-width: 992px) {
    /* FEATURE CARDS */
    /*.i-card-title {*/
    /*font-size: 2rem;*/
    /*}*/
    /*.i-card-text {*/
    /*font-size: 1.5rem;*/
    /*}*/
}